/* Reset & Base styles */

#root {
  max-width: 1280px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  background: #0e0e0e;
  color: #f0f0f0;
  scroll-behavior: smooth;
}
h1,
h2,
#hero p {
  font-family: "Playfair Display", serif;
}
#search h2 {
  font-size: 2.5rem;
}

@media (min-width: 640px) {
  #search h2 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  #search h2 {
    font-size: 4.8rem;
  }
}
