/* Reset & Base styles */

#root {
  max-width: 1280px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0e0e0e;
  color: #f0f0f0;
  scroll-behavior: smooth;
}
