/* Contact section styles */

#contact {
  padding: 280px 10%;
}
#contact h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid #7dd3fc;
  padding-bottom: 15px;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
#contact h3 {
  margin-bottom: 20px;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
#contact p {
  font-size: 1.4rem;
  opacity: 0.85;
  text-align: center;
}
#contact a {
  display: inline-block;
  font-size: 1.4rem;
  opacity: 0.85;
  color: lightblue;
  text-decoration: underline;
}
