/* Contact section styles */

#contact {
  padding: 80px 5%;
}
#contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #7dd3fc;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
#contact h3 {
  font-size: 1rem;
  margin-bottom: 15px;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
#contact p {
  font-size: 1rem;
  opacity: 0.85;
  text-align: center;
}
#contact a {
  display: inline-block;
  font-size: 1rem;
  opacity: 0.85;
  color: lightblue;
}

@media (min-width: 640px) {
  #contact {
    padding: 150px 8%;
  }
  #contact h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  #contact h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  #contact p {
    font-size: 1.2rem;
  }
  #contact a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  #contact {
    padding: 280px 10%;
  }
  #contact h2 {
    font-size: 3.2rem;
    margin-bottom: 75px;
  }
  #contact h3 {
    font-size: 1.4rem;
  }
  #contact p {
    font-size: 1.4rem;
  }
  #contact a {
    font-size: 1.4rem;
  }
}
