/* Search section styles */

#search {
  padding: 80px 5%;
}
#search h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #7dd3fc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
#search h3 {
  text-align: center;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

@media (min-width: 640px) {
  #search {
    padding: 150px 8%;
  }
  #search h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  #search h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  #search {
    padding: 280px 10%;
  }
  #search h2 {
    font-size: 3.2rem;
    margin-bottom: 75px;
  }
  #search h3 {
    font-size: 1.4rem;
  }
}

/* Question set wrapper */
#question-set-wrapper {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* Question set visibility */
#question-set-wrapper section {
  display: none;
}

#question-set-wrapper section.active {
  display: block;
}

#search p {
  display: inline;
}
